<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PC Controller</title>

    <script src="/static/js/index.js"></script>

    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <div>
        {% for category in controls.keys() %}
            <details class="category" open>
                <summary>{{ category }}</summary>
                <ul>
                {% for control in controls[category] %}
                    <li class="control"><input type="button" value="{{ control[1] }}" onclick="send('{{ category }}', '{{ control[0] }}')" /></li>
                {% endfor %}
                </ul>
            </details>
        {% endfor %}
    </div>

</body>
</html>